<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Sign up : </h1> 
    <div>
        <form method="POST" action="/user">
            <label>Username: </label>
            <input type="text" required placeholder="Enter your name" name="name">
            <label for="">Email:</label>
            <input type="email" required placeholder="abc@email.com" name="email">
            <label for="">Password</label>
            <input type="password" required placeholder="########" name="password">
            <button type="submit">Create account</button>
        </form>
    </div>
</body>
</html>